@charset "utf-8";
/* CSS Document */

/*
* General
****************************/

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
.clear{clear:both;}


/*
* Pet Lists
****************************/

.as-container{ width:auto; /*background: #9F0;*/ padding:0px; margin:30px 0 0 0;}

.as-pet-thumb{ float:left; margin:10px;}
.as-pet-title{text-align:center; font-size:12px; color:#3279BB; margin:2px 0;}
.as-pet-thumb img{ border:#ececec 5px solid; margin:0px;}


/*
* Pagination
****************************/

.pagination {
clear:both;
padding:20px 0;
position:relative;
font-size:11px;
line-height:13px;
}
 
.pagination span, .pagination a {
display:block;
float:left;
margin: 2px 2px 2px 0;
padding:6px 9px 5px 9px;
text-decoration:none;
width:auto;
color:#fff;
background: #555;
}
 
.pagination a:hover{
color:#fff;
background: #3279BB;
}
 
.pagination .current{
padding:6px 9px 5px 9px;
background: #3279BB;
color:#fff;
}


/*
* Pet Details
****************************/
/*.entry-content{padding-top:0px !important; margin-top:0px !important;}*/
.as-pet-details-wrap{ width:auto; margin-bottom:20px; position:relative; }
.as-pet-details-sbm { margin:0 0 20px 0;position:relative;  clear:both;}
.as-pet-details-icon{ float:left;width:40px; height:40px; margin-right:10px;}
.as-pet-detail-thumb{ float:left; width:310px; } /* width: 30% */
.as-pet-detail-thumb img{border:#ececec 5px solid; margin:0px;}
/**************************/
.as-pet-detail-sub-thumb {width: 310px; /*border: 5px solid #ececec;*/ margin: 10px 0px;  }
.as-pet-detail-sub-thumb img{ margin:0 3px 0 0; border: none;}
/*************************/
.as-pet-details{float:left; width:260px; font-size:12px; margin: 0px  0 0 14px;}

.email-to-friend{width:95%; clear:both;}
.email-to-friend input{ margin: 5px 0; padding:3px; background:#f5f5f5; border: #CCC 1px solid; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
.email-to-friend input[type="submit"]{ margin: 10px 0; padding:3px; background:#f5f5f5; border: #CCC 1px solid; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}

/*
* Search
****************************/
.as-search{ margin:0;}
.as-search option{ height:17px;}
.as-search input{margin:10px 0; padding:2px; width:150px;background:#f5f5f5; border: #CCC 1px solid; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
.as-search input[type="submit"]{margin:10px 0;padding:1px; width:80px;background:#f5f5f5; border: #CCC 1px solid; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}

/*
* Google Map
****************************/
